.wrapper {
  overflow-x: hidden;
  display: flex;
  flex-basis: 1000px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

body {
  display: flex;
  justify-content: center;
  font-size: 18
  px;
}

.content {
  position: fixed;
  top: 0px;
}

.avatar {
  width: 150px;
  height: 150px;
  margin-block: 30px;
  border: ghostwhite solid 3px;
  border-radius: 10px
}

img {
  filter: brightness(110%);
}

.avatar-wrapper {
  flex: 1 0 300px;
  display: flex;
  justify-content: center;
  background-color: #2b435d;
}

.header {
  flex: 1 1 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: ghostwhite;
}

h2 {
  flex: 1 0 content;
  color: #2b435d;
  font-family: Helvetica;
  letter-spacing: 2px;
  margin: 0 0 0 20px;
  padding-top: 20px;
}

h1 {
  flex: 0 0 content;
  font-family: Helvetica;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 40px;
  margin: 0 0 0 20px;
  border-right: 60px solid #2b435d;
}

.header-empty-block {
  flex: 1 0 48px;
  margin: 0 0 0 20px;
}

.inf-wrapper {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: flex-start;
  background-color: #2b435d;
  color: aliceblue;
  font-family: calibri;
  font-weight: bold;
}

.contacts {
  margin: 8px 12px 8px 12px;
  word-break: break-word;
}

span {
  color: tomato;
  background-color: aliceblue;
  background-origin: border-box;
  padding: 0 5px 0 5px;
  border-left: tomato 3px solid;
}

a {
  color: aliceblue;
  text-decoration: none;
}

.about-heading {
  margin: 50px 0 8px 16px;
  letter-spacing: 2px;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  border-right: 18px solid tomato;
}

.about {
  margin: 8px 12px 8px 12px;
  font-weight: normal;
  line-height: 150%;
}

section {
  flex-grow: 1;
  padding: 0 30px 0 30px;
  background-color: ghostwhite;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  flex: 0 0 160px;
  width: 160px;
  color: tomato;
  background-color: white;
  background-origin: border-box;
  padding: 5px 5px 5px 10px;
  border-left: tomato 3px solid;
  font-family: calibri;
}

li {
  font-family: Arial, Helvetica, sans-serif;
}

.code-wrapper {
  flex-basis: 100%;
  padding-left: 20px;
  background-color: ghostwhite;
  font-family: Arial, Helvetica, sans-serif;
}

pre {
  font-family: Consolas, "Courier New", monospace;
}

.hljs-keyword {
  color: mediumorchid;
  padding: 0;
  border: none;
}

.hljs-function,
.hljs-title,
.hljs-params {
  padding: 0;
  border: none;
}

.hljs-string {
  color: seagreen;
  padding: 0;
  border: none;
}

footer {
  display: flex;
  flex: 1 1 100%;
  background-color: white;
}

.logo {
  height: 50px;
  margin: 50px;
  padding: 5px;
  border: 3px solid #2b435d;
  border-radius: 10px;
}

.year-wrapper {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.year {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #2b435d;
}